<p id="notice" class= "alert-success text-center"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Lista de Favoritos</h1>
  <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th class="text-center"></th>
        <th class="text-center">Favoritado</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
    <% @favorites.each do |favorite|  %>
        <tr>
          <td class="text-center">#</td>
          <td class="text-center"><%= favorite.url %></td>
          <td class="text-center">
            <%= link_to '' , favorite, favoritos_destroy_path, class: "btn btn-danger fa fa-trash", method: :delete, 
            data: { confirm: 'Tem Certeza que deseja excluir?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
</table>